<div class="jumbotron">
	<h1 class="display-4">Bloggin App</h1>
	<p class="lead">Here you can view articles all over the world and be a part of the community</p>
	<hr class="my-4">
	<p>Lets SignIn and get started!!</p>
	<p class="lead">
		<%= link_to 'SignIn', "/users/new", class: "btn btn-primary btn-lg" %>
	</p>
</div>
